@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  html,
  body * {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  }

  section {
    @apply mt-20  first-of-type:mt-0 overflow-hidden;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill,
  input:-webkit-autofill:hover,
  textarea:-webkit-autofill:hover,
  select:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s !important;
    @apply caret-white-milk text-white-milk bg-transparent;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: #28a745;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer utilities {
  .paper {
    border-radius: 4px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .paper.mini {
    padding: 8px;
  }

  .glowing-border-green {
    box-shadow: 0 0 5px 0px rgba(40, 167, 69, 0.5);
  }

  h4 ~ .text-xs {
    margin-top: -6px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  ul,
  li {
    list-style: none;
  }

  .dialog.none {
    visibility: hidden;
    pointer-events: none;
  }

  .text-ellipsis {
    @apply whitespace-nowrap overflow-hidden;
    text-overflow: ellipsis;
  }

  .flex-center {
    @apply flex items-center justify-center gap-4;
  }

  .dot {
    @apply min-w-[5px] w-[5px] min-h-[5px] h-[5px] rounded-full bg-green-primary;
  }

  .whyMe-content-container {
    @apply flex flex-col gap-8;
  }

  .whyMe-content-container > * {
    @apply px-4;
  }

  .whyMe-content-container > :not(div.next-child),
  .whyMe-content-container .next-child > div > div {
    @apply max-h-[600px] mdl:max-h-[650px] 
    overflow-y-auto;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-1500px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-1500px);
    }
  }

  @keyframes closeDialog {
    0% {
      display: block;
    }
    100% {
      display: none;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
