@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  html,
  body * {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  }

  section {
    @apply mt-20 overflow-hidden first-of-type:mt-0;
  }
}

@layer utilities {
  :where(.paper) {
    border-radius: 4px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .paper.mini {
    padding: 8px;
  }

  .glowing-border-green {
    box-shadow: 0 0 5px 0px rgba(40, 167, 69, 0.5);
  }

  h4 ~ .text-xs {
    margin-top: -6px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  ul,
  li {
    list-style: none;
  }

  .dialog.none {
    visibility: hidden;
    pointer-events: none;
  }

  .text-ellipsis {
    @apply whitespace-nowrap overflow-hidden;
    text-overflow: ellipsis;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-1500px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-1500px);
    }
  }

  @keyframes closeDialog {
    0% {
      display: block;
    }
    100% {
      display: none;
    }
  }
}
